
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  font-family: 'Special Elite', cursive;
  background: url('https://www.itl.cat/pngfile/big/85-850874_high-resolution-old-paper-background.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}


h1, h2, h4 {
  text-align: center;
}


header {
  padding: 20px;
  box-shadow: 0px 4px 15px #000;
}

main {
  margin-top: 60px;
  height: 650px;
}

footer {
  text-align: center;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 80px auto;
}

.login-box legend {
  font-size: 30px;
  text-align: center;
}


// .text-box {
//   width: 100%;
//   overflow: hidden;
//   font-size: 20px;
//   padding: 8px 0;
//   margin: 8px 0;
// }


input {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  width: 200px;
  margin: 10px;
  display: block;
}

a {
  color: black; 
}

.icons {
  display: inline-flex;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.text-box i {
  font-size: 20px;
  width: 26px;
  float: left;
  text-align: center;
}



.game-board {
  padding: 50px;
}


.player1 {
  float: left;
}

.player2 {
  float: right;
}

.score-card {
  padding: 30px;
  height: 100px;
  width: 200px;
  box-shadow: 0px 4px 10px #000;
  text-align: center;
  font-size: 25px;
}

.row {
  width: 45%;
  height: 175px;
  margin: auto;
  display: flex;
}

.row-a, .row-b {
  border-bottom: 5px black solid;
}

.col-1, .col-2 {
  border-right: 5px black solid;
}

.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  width: 200px;
  margin: 10px;
  display: block;
  font-family: 'Special Elite', cursive;
transition: 1s;
}

.btn:hover {
  border-radius: 50%;
  background: rgb(49, 46, 46);
  color: rgb(250, 250, 250);
}

.box {
  width: 33.33%;
  text-align: center;
  font-size: 5rem;
  padding-top: 40px;
}

.box:hover {
  background: #75746F;
}

.hidden {
  display: none;
}