body {
  background-image: url('background.jpg');
}

h1, h2, h4 {
  text-align: center;
}

.row {
  width: 45%;
  height: 175px;
  margin: auto;
  display: flex;
}

.row-a, .row-b {
  border-bottom: 5px black solid;
}

.col-1, .col-2 {
  border-right: 5px black solid;
}

.box {
  width: 33.33%;
  text-align: center;
  font-size: 5rem;
  padding-top: 40px;
}
